.container {
  max-width: 432px;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  box-shadow: 0px 1px 24px 0px #3d3d3d2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
